.jumbotron h1{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: hotpink;
}


.jumbotron{
  padding-top: 25px;
  margin-top: 100px;
}


code {
  color: hotpink;
  display: inline-block;
  margin: 10px 0;
  padding: 2px 0;
}

code span{
  padding: 5px 10px;
  background-color: #fff;

}



.input-group.error input{
  -webkit-animation-name: errorIn;
  -moz-animation-name: errorIn;
  -ms-animation-name: errorIn;
  -o-animation-name: errorIn;
  animation-name: errorIn;

  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -ms-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
}


.input-group.error::after{
  color: #fff;
  content: "Url not valid";
  font-size: 15px;
  position: absolute;
  left: 20px;
  z-index: 2;
  top: 5px;
}

#copy-to-clipboard{
  background: hotpink;
  margin: 0 0 0 20px;
  color: #fff;
  padding: 3px;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;
  display: none;
}


@-webkit-keyframes errorIn{
  0%, 50%, 100%{
    background: #fff;
    color: #555;
  }
  30%{
    background: red;
    color: transparent;
  }
}

@keyframes errorIn{
  0%, 50%, 100%{
    background: #fff;
    color: #555;
  }
  30%{
    background: red;
    color: transparent;
  }
}


@media (max-width: 329px) {
  .jumbotron{
    padding: 10px;
  }
  .jumbotron h1{
    font-size: 24px;
  }
  .shortend-url, code span{
    display: block;
    font-size: 12px;
  }
}


/* Ios fix to prevent zoom on input focus */
input[type='url']{
  font-size: 16px;
}